.footer {
    background-color: var(--dark-bg-cl);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.address {
    display: block;
    align-items: center;
    font-style: normal;
    color: #FFFFFf;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 60px;

@media screen and (min-width:768px) {
        margin-right: 0;
        margin-bottom: 60px;

    }
        @media screen and (min-width:1200px) {
            margin-right: 70px;

    
        }

}

.footer-container {
    display: block;
    text-align: center;
    

@media screen and (min-width:768px) {

        display: flex;

        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    
@media screen and (min-width:1200px)
 {
    display: flex;
    align-items: baseline;

    }

}









.footer-address {
    @media screen and (max-width:767px) {
    display: flex;
        flex-direction: column;
        align-items: center;
    
    }


    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: column;
        
        }
}
