.features-section {
    
    padding-top: 60px;
    
 @media screen and (min-width:1200px) {
         padding-top: 94px;
     }

}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--light-bg-cl);
    border-radius: 4px;


}

.features-list.list {
    justify-content: center;

    @media screen and (min-width:768px) and (max-width:1199px) {
           
        margin:-15px;
        margin-bottom: 45px;

        }

    @media screen and (min-width:1200px){
        display: flex;
        margin: -15px;
        
    }
}

.features-list__icon {
    width: 70px;
    height: 70px;
}


.features-list__item {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    

@media screen and (min-width:768px) {
        display: inline-block;
        width: calc((100% - 6 * 15px)/2);
        margin: 15px;
    }
    
}
.features-list__item:last-child{
@media screen and (max-width:767px) {
    margin-bottom: 60px;
    }
}



.features-list__title {
    text-align:center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width:768px) {
         text-align: start;
        }

}

.features-list__text {
    color: var(--primari-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}