.menu-container {
    
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    
}

.mobile-menu {
    position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        transform: translateX(100%);

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

}

.mobile-menu.is-open{
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
    transform: translateX(0);
}

.mobile-list {
    font-size: 40px;
    font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color:var(--title-text-color);
    margin-bottom: 120px;
}



.mobile-list__item{
margin-bottom: 32px;
}

.mobile-list__item:last-child {
    margin-bottom: 0px;
}

.link--current {
    color: var(--accent-color);
 }

.mobile-contacts {
    margin-bottom: 64px;
}

.mobile-contacts__item{ 
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
margin-bottom: 32px;
}

.mobile-contacts__item:last-child{
    margin-bottom: 0px;
}

.mobile-contacts__link {
    font-size: 24px;
    color: #757575; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-contacts__link:hover,
.mobile-contacts__link:focus{
    font-size: 34px;
    color: var(--accent-color);
}

.mobile-socials {
    margin-bottom: 48px;
    display: flex;
    gap: 10px;
}

.mobile-socials__item:not(:last-child) .mobile-socials__link {
    display: flex;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

}
.mobile-socials__item{
    font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
}

.menu-btn {
    margin-left: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.menu-btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-left: auto;
    width: 40px;
    height: 40px;
    padding: 0;
    display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
}
.modal-mobile-menu{
    position: relative;
}
.menu__close-icon{
    fill: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu__close-icon:hover,
.menu__close-icon:focus {
fill: #188ce8;
}
    
    